### Importing libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

## Loading data from Kaggle

In [2]:
# An alternative way to download datasets from kaggle
# For this you have to install: pip install kaggle 
# Create API token ~\.kaggle\kaggle.json

import kaggle
kaggle.api.authenticate()
kaggle.api.dataset_download_files('siddharthm1698/coursera-course-dataset', path= '.', unzip=True)

Dataset URL: https://www.kaggle.com/datasets/siddharthm1698/coursera-course-dataset

In [3]:
df1 = pd.read_csv('coursea_data.csv', index_col=0).sort_index()
df1

,course_title,course_organization,course_Certificate_type,course_rating,course_difficulty,course_students_enrolled
0,IBM Data Science,IBM,PROFESSIONAL CERTIFICATE,4.6,Beginner,480k
1,Introduction to Data Science,IBM,SPECIALIZATION,4.6,Beginner,310k
2,The Science of Well-Being,Yale University,COURSE,4.9,Mixed,2.5m
3,Python for Everybody,University of Michigan,SPECIALIZATION,4.8,Beginner,1.5m
4,Google IT Support,Google,PROFESSIONAL CERTIFICATE,4.8,Beginner,350k
...,...,...,...,...,...,...
886,Understanding Modern Finance,American Institute of Business and Economics,SPECIALIZATION,4.4,Intermediate,11k
887,Object-Oriented Design,University of Alberta,COURSE,4.7,Intermediate,33k
888,Aprende a programar con Python,Universidad Austral,SPECIALIZATION,4.2,Beginner,6.6k
889,Погружение в Python,Moscow Institute of Physics and Technology,COURSE,4.7,Intermediate,45k
890,Compassionate Leadership Through Service Learn...,University of Colorado Boulder,COURSE,4.9,Beginner,6.4k

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 891 entries, 0 to 890
Data columns (total 6 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   course_title              891 non-null    object
 1   course_organization       891 non-null    object
 2   course_Certificate_type   891 non-null    object
 3   course_rating             891 non-null    float64
 4   course_difficulty         891 non-null    object
 5   course_students_enrolled  891 non-null    object
dtypes: float64(1), object(5)
memory usage: 48.7+ KB